<header>
        <div class="letra1">
        </div>
        <div class="letra2">
            <h1>BIKE ROAD</h1>
            <h3>Maneja la vida. Maneja lo grande!</h3> 
        </div>
        <nav>
            <button>EXPLORAR</button>
        </nav>
</header>