<section>
            <div class="container">
                <div class="flex-container">
                    <div class="icono">
                        <img src="img/Enlacenet2.png" id="img2" alt="imagen2">
                    </div>
                    <div class="icono">
                        <h2>DOWNHILL</h2>
                        <h2>Solo los verderos ciclistas se atreven......</h2>
                        <p>Dentro del ciclismo existe una categoría llamada downhill, uno de los deportes más extremos de esta modalidad. </p>
                        <p>Donde los ciclistas toman riesgos al vajar de distintas pendientes sobre sus bicicletas, con un solo objetivo ser el más rápido de todos.</p>
                        <button>MAS INFORMACIÓN</button>
                    </div>
                </div>
            </div>
        </section>