<footer>
        <div class="contactos">
            <h2>>>>DIRECCIÓN</h2>
            <p>Martinez y Araujo, AMBATO ECUADOR</p>
            <h2>>>>EMAIL</h2>
            <a href="mailto:jfpoveda1@espe.edu.ec">jpoveda1@espe.edu.ec</a>
            <h2>>>>TELEFONO</h2>
            <a href="tel:+593982429826">+593 982 4298 26</a>
        </div>
        <hr>
        <div class="derechos">
            <p>GRACIAS!! por visitar BIKE ROAD</p>
            <h3>Pronto traeremos mas informaciónn y nuevos productos....</h3>
        </div>
    </footer>