<div class="productos">
            <div class="cont">
                <h2>PRODUCTOS</h2>
                <p>Biciletas más vendidas, y usadas por profesionales.</p>
                <br>
                <br>
                <br>
                <button class="btn">INVENTARIO</button>
            </div>
            {{getBicicletas}}             
        </div>